<mat-card>
  <mat-card-content>
    <mat-card-title>Type</mat-card-title>
    <span class="type type-{{fakemon.type.primary}}">{{fakemon.type.primary}}</span>
    <ng-container *ngIf="!fakemon.type.isMonoType()">
      <span class="type type-{{fakemon.type.secondary}}">{{fakemon.type.secondary}}</span>
    </ng-container>
    <div>
      Height: {{fakemon.height.toFeet()}} ({{fakemon.height.toMeter()}})
    </div>
    <div>
      Weight: {{fakemon.weight.toLbs()}} ({{fakemon.weight.toKg()}})
    </div>
  </mat-card-content>
</mat-card>
