.type {
  border-radius: 5px;
  padding: 0.2em;
  margin-right: 0.3em;
}

.type-Normal {
  background-color: #A8A878;
}

.type-Fire {
  background-color: #F08030;
}

.type-Water {
  background-color: #6890F0;
}

.type-Grass {
  background-color: #78C850;
}

.type-Electric {
  background-color: #F8D030;
}

.type-Ice {
  background-color: #98D8D8;
}

.type-Fighting {
  background-color: #C03028;
}

.type-Poison {
  background-color: #A040A0;
}

.type-Ground {
  background-color: #E0C068;
}

.type-Flying {
  background-color: #A890F0;
}

.type-Psychic {
  background-color: #F85888;
}

.type-Bug {
  background-color: #A8B820;
}

.type-Rock {
  background-color: #B8A038;
}

.type-Ghost {
  background-color: #705898;
}

.type-Dark {
  background-color: #705848;
}

.type-Dragon {
  background-color: #7038F8;
}

.type-Steel {
  background-color: #B8B8D0;
}

.type-Fairy {
  background-color: #EE99AC;
}
