<h1> {{ title }}</h1>
<div class="content-container">
  <div class="content-item">
    <type-randomizer></type-randomizer>
  </div>
  <div class="content-item">
    <region-randomizer></region-randomizer>
  </div>
</div>

<div class="content-container">
  <div class="content-item">
    <num-evolutions-randomizer></num-evolutions-randomizer>
  </div>
  <div class="content-item">

    <inspiration-randomizer></inspiration-randomizer>
  </div>
</div>

<div class="content-container">
  <div class="content-item">
    <stat-randomizer></stat-randomizer>
  </div>
  <div class="content-item">
    <ability-randomizer></ability-randomizer>
  </div>
</div>
